    <style>
    .d-block, li {
      display: block!important;
    }
    .img-fluid {
      float: middle; 
      width:50%;
      height:50%;
    }
    img {
      vertical-align: middle;
      border-style: none;
    }
    .w-100 {
      width: 50%!important;
    }
    p {
      margin-top: 0;
      margin-bottom: $paragraph-margin-bottom;
    }